body {
    background-color: rgb(190, 240, 200);
    font-family: cursive;
    font-size: 12pt;
    color: rgb(0, 0, 255);
}

.card {
   
    background-color: rgb(205, 240, 255);
    border-color: rgb(0, 0, 255);
 }
 
 